

.row .box {
    background-color: yellow;
    padding: 20px;
    
}
.box-bleu {
    background-color: blue;
    padding: 20px;
    
}
.box-red {
    background-color: red;
    padding: 20px;
}
.box-green {
    background-color: green;
    padding: 20px;
}
.box-grey {
    background-color: grey;
    padding: 20px;
}
.box-white {
    background-color: white;
    padding: 20px;
}
.box-yellow {
    background-color: yellow;
    padding: 20px;
}